.login-container {
  background-image: url('https://res.cloudinary.com/dh1kujuf0/image/upload/v1746531012/Group_138_aeqq9y.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.login-card-container {
  width: 90%;
  max-width: 456px;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgba(24, 24, 24, 0.96);
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 0;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.label {
  color: white;
  margin-bottom: 15px;
}

.input-field {
  background-color: white;
  height: 40px;
  border-width: 0px;
  border-radius: 5px;
  margin-bottom: 12px;
  font-size: 20px;
}

.login-button {
  height: 40px;
  background-color: #5bcf66;
  border-width: 0px;
  border-radius: 7px;
  margin-top: 12px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .login-button {
    height: 40px;
    background-color: #5bcf66;
    border-width: 0px;
    border-radius: 7px;
    margin-top: 12px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    width: 100px;
    align-self: center;
  }
}
